@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.terminal {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height:2rem;
}

.terminal-history-line {
  all: unset;
  text-align: left;
  overflow-wrap: break-word;
}

.terminal-input {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 100%;
  min-height: 50%;
  padding-bottom: 2em;
}

.terminal-input-field {
  all: unset;
  border: none;
  background-color: transparent;
  overflow-wrap: break-word;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.terminal-input-field:focus {
  outline: none;
}